import { Config } from './config.interface';

import fs from 'fs';
import { join } from 'path';

const version = JSON.parse(
  fs.readFileSync(join(__dirname, '..', '..', 'package.json')).toString(),
).version;

const config: Config = {
  nest: {
    port: 3001,
    fallbackLanguage: 'cn',
  },
  cors: {
    enabled: true,
  },
  gql: {
    playgroundEnabled: process.env.NODE_ENV !== 'production',
    debug: process.env.NODE_ENV !== 'developement',
    schemaDestination: './src/schema.graphql',
    sortSchema: true,
  },
  security: {
    expiresIn: '1y',
    refreshIn: '1d',
    jwtSecret: 'thisisasecret',
    bcryptSaltOrRound: 1,
  },
  version: {
    version,
  },
  swagger: {
    title: '',
    description: '',
    version,
  },
};

export default (): Config => config;
